@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.dark-mode-background{
    background-color: hsl(207, 26%, 17%);
}

.light-dark-mode-background{
    background-color: hsl(209, 23%, 22%);
}

.dark-mode-navbar{
    background-color: hsl(209, 23%, 22%);
}

.dark-mode-text{
    color: #ffffff;
}

.light-background{
    background-color: #ffffff;
}

.light-mode-text{
    color: black;
}

.navbar{
    height: 90px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    box-shadow: 0px 0px 5px 0px rgb(39, 38, 38);
}

.navbar-title{
    font-family: "Roboto";
    max-width: 50%;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}

.dark-mode-button{
    padding: 0px;
}

.moon-icon{
    margin-right: 5px;
}






.home-page{
    height: 100%;
    padding: 15px;
    padding-bottom: 40px;
}

.search-bar-and-logo{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgb(46, 46, 46);
}

.search-icon{
    align-self: center;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.search-bar{
    flex-grow: 1;
    border: none;
    padding-left: 10px;
    border-radius: 7px;
    overflow: hidden;
}




.dropdown-menu-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    box-shadow: 0px 0px 5px black;
    border-radius: 7px;
}

.region-select{
    margin-top: 20px;
    padding-left: 30px;
    border-radius: 7px;
    width: 100%;
    border: none;
    font-size: 14px;
    height: 50px;
    overflow: auto;
}



.spinner-button{
    flex-wrap: wrap;
    padding-top: 10vh;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.loading-text{
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    word-wrap: break-word;
}

.spinner-icon{
    align-self: center;
    width: 20px;
    height: 20px;
}

.countries-container{
    width: 100%;
    height: 100%;
}

.country-box{
    max-width: 400px;
    margin-top: 40px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgb(47, 47, 47);
}

.center-element{
    margin-left: auto;
    margin-right: auto;
}

.flag{
    height: 200px;
    width: 100%;
    border-radius: 7px;
}

.country-details-box{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.country-name{
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 20px;
    font-weight: 700;
    word-wrap: break-word;
}

.key{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 700;
    word-wrap: break-word;
}

.detail{
    font-weight: 300;
    word-wrap: break-word;
}

.gmaps{
    display: block;
    word-wrap: break-word;
    margin-top: 20px;
}

.error-message{
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
    padding-top: 30px;
}







.back-button{
    max-width: 70px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    font-family: "Roboto";
    font-size: 15px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgb(48, 47, 47);
}

.arrow-icon{
    font-size: 12px;
    margin-right: 5px;
}


.about-page-body-element {
    flex-direction: column;
}












.map-and-details-container{
    display: flex;
    flex-direction: column;
}

.map-container{
    order: -1;
    margin-top: 30px;
    height: 200px;
    width: 100%;
}


.details-container{
    order: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


.country-name-A{
    background-size: 12px 30px;
    background-repeat: repeat;
    background-position: center;
    background-clip: text;
    text-transform: uppercase;
    font-size: 30px;
}

.border-countries{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
}

.border-countries-buttons{
    flex-wrap: wrap;
    margin-top: 10px;
}

.country-button{
    color: black;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    min-width: 70px;
    height: 30px;
    box-shadow: 0px 0px 5px 0px rgb(50, 50, 50);
}













@media all and (min-width : 769px){
      
    .navbar{
    padding-left: 50px;
    padding-right: 50px;
    }

    .search-and-dropdown-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
    }

    .search-bar-and-logo{
    margin: 0px;
    min-width: 400px;
    }

    .region-select{
    margin-top: 0px;
    min-width: 200px;
    }

    .dropdown-menu-container{
    margin: 0px;
    }

    .countries-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    }

    .country-box{
        width: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .flag{
        height: 200px;
    }


    



    .back-button{
        margin-left: 50px;
    }




    .map-and-details-container{
        flex-direction: row;
    }

    .map-container{
        height: 70vh;
    }

    .details-container{
        min-width: 30vw;
        margin-left: 20px;
    }

    .country-name-A{
        font-size: 45px;
    }

    .border-countries-buttons{
        max-width: 40vw;
    }

}